<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/htmx.min.js"></script>
    <script src="/static/head-support.js"></script>

    <title hx-preserve="true">joe blogs</title>
    <meta property="og:title" content="Joe Lamming's Blog" hx-preserve="true">
    <meta property="og:description" content="Personal blog and portfolio" hx-preserve="true">
    <meta name="author" content="Joe Lamming" hx-preserve="true">
    <link rel="author" href="/" hx-preserve="true">
</head>

<body hx-ext="head-support">
    <div hx-get="/components/head-base.html" hx-trigger="load" hx-swap="none"></div>
    <div id="layout-content" hx-get="/layouts/base.html" hx-trigger="load" hx-swap="outerHTML">
    </div>
</body>

</html>