<head hx-head="merge">
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=IBM+Plex+Serif:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap"
    rel="stylesheet" hx-preserve="true">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" hx-preserve="true">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/jl-favicon-32x32.png" hx-preserve="true">

  <script type="application/ld+json" hx-preserve="true">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Joe Lamming's Blog",
      "author": {
        "@type": "Person",
        "name": "Joe Lamming",
        "jobTitle": "Software Researcher & Consultant"
      }
    }
    </script>
  <meta name="author" content="Joe Lamming" hx-preserve="true">
  <link rel="author" href="/" hx-preserve="true">
</head>