<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" hx-preserve="true">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/jl-favicon-32x32.png" hx-preserve="true">
  <meta name="theme-color" content="#000000" hx-preserve="true">
  <script type="application/ld+json" hx-preserve="true">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Joe Lamming's Blog",
      "author": {
        "@type": "Person",
        "name": "Joe Lamming",
        "jobTitle": "Software Engineer and Researcher"
      }
    }
    </script>
  <meta name="author" content="Joe Lamming" hx-preserve="true">
  <link rel="author" href="/" hx-preserve="true">
</head>