<nav id="year-nav" aria-label="Year navigation">
    <ul>
        <li>
            <a class="nav-link-gallery" href="/years/2024.html" hx-get="/years/2024.html" hx-select="#main-content" hx-target="#main-content"
                hx-swap="innerHTML transition:true" hx-push-url="true">2024</a>
        </li>
        <li>
            <a class="nav-link-gallery" href="/years/2023.html" hx-get="/years/2023.html" hx-select="#main-content" hx-target="#main-content"
                hx-swap="innerHTML transition:true" hx-push-url="true">2023</a>
        </li>
        <li>
            <a class="nav-link-gallery" href="/years/2022.html" hx-get="/years/2022.html" hx-select="#main-content" hx-target="#main-content"
                hx-swap="innerHTML transition:true" hx-push-url="true">2022</a>
        </li>
        <li>
            <a class="nav-link-gallery" href="/gallery.html" hx-get="/gallery.html" hx-select="#main-content"
                hx-target="#main-content" hx-swap="innerHTML transition:true" hx-push-url="true">Gallery</a>
        </li>
    </ul>
</nav>